body {
}



#imagem{

    position:absolute;    
    background:#F0F8FF;
    width:1422px;
    height:95px;
    right:6%;
    left:0%;
    top:0%;
    opacity:0.6;
    
}

#login{

    position:absolute;
    width:35px;
    height:35px;
    left:76%;
    top:3%;

}


#logout{

    position:absolute;
    width:35px;
    height:35px;
    left:84%;
    top:3%;

}

#conf{

    position:absolute;
    width:35px;
    height:35px;
    left:92%;
    top:3%;
    

}

#notícia{

    position:absolute;
    width:35px;
    height:35px;
    left:67%;
    top:3%;
    

}


#fundo {
    position: absolute;
    width: 1410px;
    height:1200px;
    top:0%;
}


#txtpublicação {
    position: absolute;
    width:450px;
    height:50px;
    left:11%;
    top:20.5%;
    opacity:0.8;
   border-radius:10px;


}


#Div2 {
    position:absolute;
    left:65%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
    font-weight:bold
}


#Div3 {
    position:absolute;
    left:74%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
    font-weight:bold
}


#Div4 {
    position:absolute;
    left:82%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
   font-weight:bold
}


#Div5 {
    position:absolute;
    left:90%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
   font-weight:bold;
}



#logos {
      
    position:absolute;
    width:155px;
    height:90px;
    left:5%;
    top:0%;
    

}


#user {

    position:absolute;
    width:60px;
    height:60px;
    left:5.5%;
    top:20.4%;

}


#branquinho {

    position: absolute;
    width:455px;
    height:80px;
    left:38%;
    top:40%;
    background:#F0F8FF;
    opacity:0.8;
    border-radius:10px;


}



#post {

     font-weight:bold;
}


#menina {

    position:absolute;
    width:65px;
    height:65px;
    left:32%;
    top:41%;
    border-radius:30px;


}


#branquinho1 {

    position: absolute;
    width:455px;
    height:80px;
    left:38%;
    top:60%;
    background:#F0F8FF;
    opacity:0.8;
    border-radius:10px;


}



#post1 {

     font-weight:bold;
}


#menina1 {

    position:absolute;
    width:65px;
    height:65px;
    left:32%;
    top:60%;
    border-radius:30px;


}
