body{

    background:white;

}
#imagem{

    position:absolute;    
    background:#F0F8FF;
    width:1440px;
    height:95px;
    right:6%;
    left:0%;
    top:0%;
    opacity:0.6;
    
}

#dive{
    background-color:#F0F8FF;
    position:absolute;
    width:350px;
    height:350px;
    right:40%;
    top:30%;
    opacity:0.6;
  
}













#feedp{

    position:absolute;
    width:35px;
    height:35px;
    left:60%;
    top:3%;
    

}


#feedn{
    
    position:absolute;
    width:35px;
    height:35px;
    left:68%;
    top:3%;
}


#conf{

    position:absolute;
    width:35px;
    height:35px;
    left:76%;
    top:3%;

}


#login{

    position:absolute;
    width:35px;
    height:35px;
    left:86%;
    top:3%;

}

#logout{

    position:absolute;
    width:35px;
    height:35px;
    left:93%;
    top:3%;
    

}

#div1 {
    position: absolute;
    background:#F0F8FF;
    width: 1440px;
    height: 40px;
    right: 6%;
    left: 0%;
    top: 95%;
    opacity: 0.6;
}

#fundo {
    position: absolute;
    width: 1432px;
    height:793px;
    top:0%;
}











#lblemail {

    
    position:absolute;
    right:0%;
    top:10%;
    left:45%;
    font-weight:bold;
 


}

#txtemail {
    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:15%;
}



#lblnome_usuario {

    position:absolute;
    right:0%;
    top:25%;
    left:35%;
    font-weight:bold;
}



#txtnome_usuario {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:30%;
}



#lblsenha {

    position:absolute;
    right:0%;
    top:40%;
    left:45%;
    font-weight:bold;
}


#senha {

    position:absolute;
    width:250px;
    height:20px;
    left:14%;
    top:45%;
    
}









#lblidade {

    position:absolute;
    right:0%;
    top:55%;
    left:45%;
    font-weight:bold;
}


#txtidade {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:60%;
}

#Button1{

    position: absolute;
    width: 50px;
    height:25px;
    left:43%;
    top:75%;
    font-weight:bold;


}



#criancada {

    position:absolute;
    width:350px;
    height:350px;
    right:40%;
    top:30%;
    opacity:0.6;
  
}

#logos {
      
    position:absolute;
    width:155px;
    height:90px;
    left:5%;
    top:0%;
    

}












#Div1 {
    position:absolute;
    left:58%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
    font-weight:bold
}


#Div2 {
    position:absolute;
    left:66%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
    font-weight:bold
}


#Div3 {
    position:absolute;
    left:74%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
    font-weight:bold
}


#Div4 {
    position:absolute;
    left:84%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
   font-weight:bold
}


#Div5 {
    position:absolute;
    left:91%;
    width:1px;
    height:50px;
    background:#000000;
    top:3%;
    opacity:0.2;
   font-weight:bold
}


#titulo {
    font-weight:bold;
    position:absolute;
    top:115%;
}


#sobre {

    position:absolute;
    top:120%

}

