body{

    background:white;

}
#imagem{

    position:absolute;    
    background:#B0C4DE;
    width:1440px;
    height:95px;
    right:6%;
    left:0%;
    top:0%;
    opacity:0.8;
    
}

#dive{
    background-color:#B0C4DE;
    position:absolute;
    width:350px;
    height:350px;
    right:40%;
    top:30%;
    opacity:0.8;
  
}


#feedp{

    position:absolute;
    width:35px;
    height:35px;
    left:75%;
    top:3%;

}


#feedn{
    
    position:absolute;
    width:35px;
    height:35px;
    left:80%;
    top:3%;
}


#conf{

    position:absolute;
    width:35px;
    height:35px;
    left:85%;
    top:3%;

}


#login{

    position:absolute;
    width:35px;
    height:35px;
    left:90%;
    top:3%;

}

#logout{

    position:absolute;
    width:35px;
    height:35px;
    left:95%;
    top:3%;
    

}

#div1 {
    position: absolute;
    background:#B0C4DE;
    width: 1440px;
    height: 40px;
    right: 6%;
    left: 0%;
    top: 95%;
    opacity: 0.8;
}

#criancada {
    position: absolute;
    width: 1430px;
    height:640px;
    top:13.0%;
}




#lblemail {

    
    position:absolute;
    right:0%;
    top:10%;
    left:45%;
    font-weight:bold;
 


}

#txtemail {
    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:15%;
}












#lblnome_usuario {

    position:absolute;
    right:0%;
    top:25%;
    left:35%;
    font-weight:bold;
}



#txtnome_usuario {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:30%;
}







#lblsenha {

    position:absolute;
    right:0%;
    top:40%;
    left:45%;
    font-weight:bold;
}



#txtsenha {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:45%;
}







#lblidade {

    position:absolute;
    right:0%;
    top:55%;
    left:45%;
    font-weight:bold;
}


#txtidade {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:60%;
}

#Button1{

    position: absolute;
    width: 50px;
    height:25px;
    left:43%;
    top:75%;
    font-weight:bold;


}





