body{

    background:white;

}


#dive{
    background-color:#F0F8FF;
    position:absolute;
    width:350px;
    height:350px;
    right:35%;
    top:30%;
    opacity:0.8;
  
}







#lblemail {

    
    position:absolute;
    right:0%;
    top:10%;
    left:45%;
    font-weight:bold;
 


}

#txtemail {
    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:15%;
}



#lblnome_usuario {

    position:absolute;
    right:0%;
    top:25%;
    left:35%;
    font-weight:bold;
}



#txtnome_usuario {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:30%;
}



#lblsenha {

    position:absolute;
    right:0%;
    top:40%;
    left:45%;
    font-weight:bold;
}


#senha {

    position:absolute;
    width:250px;
    height:20px;
    left:14%;
    top:45%;
    
}









#lblidade {

    position:absolute;
    right:0%;
    top:55%;
    left:45%;
    font-weight:bold;
}


#txtidade {

    position: absolute;
    width: 250px;
    height: 20px;
    left:14%;
    top:60%;
}

#Button1{

    position: absolute;
    width: 50px;
    height:25px;
    left:43%;
    top:75%;
    font-weight:bold;


}



#criancada {

    position:absolute;
    width:1263px;
    height:900px;
    left:0.6%;
    top:0%;
    opacity:0.8;
  
}


















#titulo {
    font-weight:bold;
    position:absolute;
    top:105%;
    left:43%;
    font-size:40px;
    color:#FFFFFF;
}


#sobre {

    position:absolute;
    top:115%;
    font-size:15px;
    color:#FFFFFF;
 

}

